.navbar__main {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding-inline: 3rem;
  background-color: rgba(97, 97, 97, 0.4);
  backdrop-filter: blur(3px) brightness(110%);
  color: white;
  min-width: 320px;
  animation: slide-down 1s;
}
.title-box {
  display: flex;
  align-items: center;
  gap: 2rem;
  animation-delay: 0.3s;
}
.main-title {
  font-size: var(--ff-size-30);
  font-weight: 300;
  letter-spacing: 1rem;
}
.nav-bar {
  &__options {
    display: flex;
    align-items: center;
    gap: 4rem;
    animation-delay: 0.3s;
  }
  &__option {
    list-style: none;
    padding-block: 1.5rem;
    font-size: var(--ff-size-18);
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  &__option:hover {
    border-bottom: 2px solid white;
  }
}
.logo {
  width: 4rem;
  height: 4rem;
}
.hamburger__btn {
  display: none;
  position: fixed;
  width: 5rem;
  height: 3.5rem;
  top: 1.2rem;
  right: 2rem;
  background-color: rgba(209, 209, 209, 0.3);
  border-radius: 3px;
  padding: 0.5rem;
  border: none;
  z-index: 1500;
  transition: transform 0.3s;
  & span {
    display: block;
    width: 3rem;
    height: 2px;
    background-color: white;
    margin-inline: auto;
  }
  &-line1 {
    margin-bottom: 10px;
  }
  &-line3 {
    margin-top: 10px;
  }
}
.hamburger__btn.active {
  transition: transform 1s;
  .hamburger__btn-line1 {
    transform: rotate(135deg) translate(9px, -9px);
  }
  .hamburger__btn-line2 {
    opacity: 0;
  }
  .hamburger__btn-line3 {
    transform: rotate(-135deg) translate(8px, 8px);
  }
}

.slide__navigation {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(2px) brightness(80%);
  z-index: 1000;
  transform: translate(100%);
  padding: 5rem 2rem;
  color: var(-primary-color);
  transition: transform 0.3s;
}
.slid-in {
  transform: translate(0);
}
