@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --ff-size-130: 10vw;
  --Af-size-130: 10vw;
  --ff-size-100: 8vw;
  --ff-size-40: 4rem;
  --ff-size-30: 3rem;
  --ff-size-20: 2rem;
  --ff-size-18: 1.8rem;
  --ff-size-14: 1.4rem;
  --ff-size-16: 1.6rem;
  --ff-size-12: 1.2rem;
  --primary-color: #1e4c39;
  --secondary-color: #7e8f7f;
  --territory-color: #008000;
  --size-14: -14.3%;
}

@font-face {
  font-family: Helvetica;
  src: url(../public/HelveticaNaue/HelveticaNeueBlack.otf);
}
*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-width: 320px;
}

body,
#root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#root {
  position: relative;
}

.navbar__main {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding-inline: 3rem;
  background-color: rgba(97, 97, 97, 0.4);
  backdrop-filter: blur(3px) brightness(110%);
  min-width: 320px;
  animation: slide-down 1s;
}

.title-box {
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  animation-delay: 0.3s;
  position: relative;
  z-index: 3;
}

.main-title {
  font-size: var(--ff-size-30);
  font-weight: 300;
  letter-spacing: 1rem;
}

.nav-bar__options {
  display: flex;
  align-items: center;
  gap: 4rem;
  animation-delay: 0.3s;
}
.nav-bar__option {
  list-style: none;
  padding-block: 1.5rem;
  font-size: var(--ff-size-18);
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.nav-bar__option:hover {
  border-bottom: 2px solid white;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.hamburger__btn {
  display: none;
  position: fixed;
  width: 5rem;
  height: 3.5rem;
  top: 1.2rem;
  right: 2rem;
  background-color: rgba(209, 209, 209, 0.3);
  border-radius: 3px;
  padding: 0.5rem;
  border: none;
  z-index: 1500;
  transition: transform 0.3s;
}
.hamburger__btn span {
  display: block;
  width: 3rem;
  height: 2px;
  background-color: white;
  margin-inline: auto;
}
.hamburger__btn-line1 {
  margin-bottom: 10px;
}
.hamburger__btn-line3 {
  margin-top: 10px;
}

.hamburger__btn.active {
  transition: transform 1s;
}
.hamburger__btn.active .hamburger__btn-line1 {
  transform: rotate(135deg) translate(9px, -9px);
}
.hamburger__btn.active .hamburger__btn-line2 {
  opacity: 0;
}
.hamburger__btn.active .hamburger__btn-line3 {
  transform: rotate(-135deg) translate(8px, 8px);
}

.slide__navigation {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(2px) brightness(80%);
  z-index: 1000;
  transform: translate(100%);
  padding: 5rem 2rem;
  color: var(--primary-color);
  transition: transform 0.3s;
}

.slid-in {
  transform: translate(0);
}

.greet__section {
  min-height: 100vh;
  min-width: 320px;
  background-image: url(../public/assets/pages/home.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding: 8rem 6rem 6rem 6rem;
}

.greet__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.greet__section-article {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 2;
  width: 100%;
  gap: 0;
}

.greet__welcome {
  color: white;
  display: inline;
  font-size: var(--ff-size-100);
  font-weight: 400;
  height: 10rem;
  animation: slide-right 1s;
  animation-delay: 0.2s;
}

.greet__name {
  color: white;
  font-size: var(--ff-size-130);
  font-weight: 600;
  letter-spacing: 0.5rem;
  height: 16rem;
  animation: slide-left 1s;
  animation-delay: 0.2s;
}

.greet__para {
  color: white;
  font-size: var(--ff-size-18);
  width: 80%;
  font-weight: 200;
}

.greet__btn {
  width: 100%;
  height: 5rem;
  font-size: 1.8rem;
  color: white;
  background-color: hsla(0, 0%, 100%, 0.135);
  border: none;
  border-radius: 5px;
  animation: pop-up 1s;
  transition: all 0.3s;
}

.greet__btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  transform: translateY(-5px);
}

.link {
  margin-top: 2rem;
  width: 15rem;
}

.agriculture_section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding-block: 1rem;
}

.heading__primary {
  color: var(--primary-color);
  font-family: Helvetica;
  font-size: var(--ff-size-40);
  text-align: center;
}

.secondary__color {
  color: var(--secondary-color);
}

.ag-container {
  padding: 0 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.coconut__gallery {
  width: 30%;
  box-shadow: 0 0.5rem 2rem rgba(32, 31, 31, 0.881);
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  min-height: 20rem;
}

.slides {
  display: flex;
  height: 100%;
  width: 700%;
  animation: slide 10s infinite;
}

.gallery-img-box {
  width: 14.2857142857%;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ag-practice {
  width: 70%;
  box-shadow: 0 0.5rem 2rem rgba(32, 31, 31, 0.881);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ag-title {
  height: 6rem;
  display: inline-flex;
  width: max-content;
  align-items: center;
  padding-inline: 6rem;
  margin-bottom: 0.5rem;
  font-size: var(--ff-size-18);
  background-color: var(--primary-color);
  color: white;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}

.ag-para {
  font-size: var(--ff-size-14);
  color: var(--primary-color);
}

.ag-para:not(:last-child) {
  margin-bottom: 2rem;
}

.supplies_section {
  min-height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
}

.home__main,
.contact__main,
.farm__main,
.product__main {
  min-height: 100vh;
  overflow-y: hidden;
  min-width: 320px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5rem 2rem rgba(32, 31, 31, 0.881);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  min-width: 287px;
  width: 300px;
}

.card:hover {
  transform: translateY(-1rem);
}

.card__img-box {
  width: 100%;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.card__img-box::before {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.463);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 7rem;
  right: 0rem;
  width: 100%;
  z-index: 10;
  cursor: default;
}

.card__heading-span {
  padding: 0 1.5rem;
  background-color: rgba(0, 0, 0, 0.463);
  box-decoration-break: clone;
  -webkit-box-direction-break: clone;
}

.card__list-items {
  display: block;
  padding: 0.9rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: default;
}

.rupees {
  color: var(--territory-color);
  font-weight: 600;
}

.dark--green {
  color: var(--primary-color);
  font-weight: 800;
}

.card__list-items:not(:last-child) {
  border-bottom: 1px solid rgb(191, 189, 189);
}

.contact__img-box {
  background-image: url("../public/assets/pages/contact-2.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 4rem 4rem 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact__img-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.183);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.contact__title {
  z-index: 10;
  font-size: 2rem;
  position: relative;
  animation: slide-right 1s;
}

.contact-h1 {
  font-size: var(--ff-size-130);
  color: white;
}

.location-box {
  position: relative;
  width: 30rem;
  padding: 2rem;
  color: white;
  background-color: rgba(209, 209, 209, 0.3);
  z-index: 10;
  border-radius: 3px;
}
.location-place {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.location-name {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 3px;
}
.location-info {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.location-link {
  text-decoration: none;
  position: relative;
  z-index: 10;
  transition: transform 0.3s;
  animation: slide-left 1s;
}
.location-link:hover {
  transform: translateY(-1rem);
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.contact__details {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 320px;
  padding: 2rem;
}
.contact__mail {
  width: 100%;
}
.contact__mail-us {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 700;
}
.contact__input-info {
  font-size: var(--ff-size-12);
  color: var(--primary-color);
}
.contact__input-info::after {
  content: " *";
  color: red;
}
.contact__first-name {
  margin-block: 1rem;
}
.contact__input-field {
  width: 80%;
  height: 3rem;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 0 1rem;
}
.contact__address-box {
  width: 100%;
}
.contact__map {
  width: 50%;
  border-radius: 4px;
  min-width: 320px;
  min-height: 320px;
  border: none;
}
.contact__map-img {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
}
.contact__mail-btn {
  width: 8rem;
  height: 3rem;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
}
.contact__mail-btn:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}
.contact__get-in {
  color: var(--primary-color);
  font-size: var(--ff-size-20);
}
.contact__quotes {
  font-size: var(--ff-size-14);
  font-weight: 400;
  color: var(--primary-color);
  position: relative;
  z-index: 2;
}
.contact__address {
  font-size: var(--ff-size-16);
  margin-block: 1rem;
  color: var(--primary-color);
}
.contact__mail-box {
  padding: 0 3rem;
}

.description-custom {
  resize: none;
  min-height: 8rem;
  max-height: 8rem;
  padding-block: 1rem;
}

.farm__section {
  background-image: url("../public/assets/pages/farm.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 6rem 4rem 4rem 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
}
.farm__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.58);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.farm__gallery-cards {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.farm__gallery-card {
  position: relative;
  height: 90%;
  width: 14.2857142857%;
  min-height: 50rem;
  max-width: 30rem;
  border-radius: 3px;
  max-height: 60rem;
  transition: all 0.4s;
}
.farm__gallery-card:hover {
  width: 50%;
}
.farm__gallery-card::before {
  content: attr(data-line);
  position: absolute;
  font-size: 4rem;
  z-index: 3;
  top: -4rem;
  left: 50%;
  right: 50%;
  transition: all 0.3s ease-in;
  transform: rotate(90deg) translate(10rem, 0rem);
  color: white;
}
.farm__gallery-card:hover::before {
  font-size: 3rem;
  color: var(--primary-color);
  opacity: 1;
  left: 0;
  transform: translateY(0rem);
}
.farm__gallery-para {
  cursor: default;
  position: absolute;
  font-size: 1.8rem;
  opacity: 0;
  bottom: 0;
  left: 0;
  height: 55%;
  color: white;
  z-index: 4;
  padding: 2rem;
  transition: opacity 0.2s;
  background-color: rgba(0, 0, 0, 0.58);
}
.farm__gallery-card:hover > .farm__gallery-para {
  opacity: 1;
}
.farm__gallery-overlay {
  position: absolute;
  display: block;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.58);
}
.farm__gallery-card:hover > .farm__gallery-overlay {
  opacity: 0;
}

.footer__section {
  height: 25rem;
  background-image: url("../public/assets/pages/footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footer__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.58);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.foot__box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  position: relative;
  z-index: 5;
}

.footer__list {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 2rem;
  border-top: 2px solid white;
}

.footer__unordered-list {
  list-style: none;
  color: white;
  height: 2rem;
  position: relative;
  font-size: var(--ff-size-14);
}
.footer__unordered-list::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  background-color: white;
  width: 0;
  transition: all 0.3s;
}
.footer__unordered-list:hover::after {
  width: 100%;
}

.copy_right {
  border-top: 2px solid white;
  color: white;
  font-size: var(--ff-size-14);
  text-align: center;
}

.toast {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--ff-size-14);
  padding: 2rem;
  color: white;
  border-radius: 3px;
  margin-top: 1rem;
}

.success {
  background-color: rgb(41, 194, 97);
}

.failed {
  background-color: rgb(194, 43, 41);
}

.error {
  background-color: rgb(255, 103, 100);
}

.info {
  background-color: rgb(81, 145, 242);
}

.top-right {
  position: fixed;
  right: 3rem;
  top: 4rem;
  z-index: 100;
}

.top-left {
  position: fixed;
  left: 3rem;
  top: 2rem;
  width: 28rem;
  z-index: 100;
}

.bottom-right {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  width: 28rem;
  z-index: 100;
}

.bottom-left {
  position: fixed;
  left: 3rem;
  bottom: 2rem;
  width: 28rem;
  z-index: 100;
}

.fade-in {
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}

.pop-up {
  animation: popup 1s;
}

@keyframes fade-in {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes popup {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.about__section {
  background-image: url("../public/assets/pages/about.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8rem 5rem 5rem 5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.founder__container {
  display: flex;
  background-color: white;
  gap: 3rem;
}
.founder__container-img {
  width: 30%;
  background-image: url("/public/assets/about/founder.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 40rem;
}
.founder__container-info {
  width: 70%;
  padding: 3rem;
  margin: auto 0;
}
.founder__container-info-box {
  height: 40%;
  border: 2rem solid var(--primary-color);
  padding: 3rem;
}
.founder__container-title {
  font-size: 2rem;
  text-align: left;
}
.founder__container-name {
  font-size: 4rem;
  text-align: left;
}
.founder__container-para {
  font-size: var(--ff-size-14);
  font-weight: 600;
  margin-top: 3rem;
  text-align: justify;
}

.goal__section {
  padding: 3rem;
}

.goal__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 3rem;
}

.goal__card {
  padding: 2rem;
  width: 40%;
  background-color: var(--primary-color);
  border-radius: 4px;
}
.goal__card-title {
  font-size: 3rem;
  color: white;
}
.goal__card-description {
  font-size: var(--ff-size-14);
  color: white;
  font-weight: 200;
}

.export__section {
  width: 100%;
  background-image: url(/public/assets/about/export.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin-block: 2rem;
}
.export__section-title-box {
  height: 7rem;
  border-left: 2px solid white;
  padding: 0.4rem 0.4rem 0.4rem 3rem;
}
.export__section-title {
  font-size: 4rem;
  font-weight: 200;
  color: white;
}
.export__section-para-box {
  width: 60%;
  margin-top: 6rem;
}
.export__section-para {
  font-size: var(--ff-size-16);
  color: white;
  font-weight: 200;
  text-align: justify;
}

.colab__section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 2rem;
}
.colab__section-container {
  width: 100%;
}
.colab__section-container-1:not(:last-child) {
  margin-bottom: 2rem;
}
.colab__section-title-box {
  padding: 1rem;
  padding-right: 4rem;
  background-color: var(--primary-color);
}
.colab__section-title {
  color: white;
  font-size: var(--ff-size-20);
  border-left: 1px solid white;
  padding-left: 2rem;
}
.colab__section-img {
  width: 60%;
}
.colab__section-para {
  margin-top: 2rem;
  font-size: var(--ff-size-14);
  text-align: justify;
}
.colab__section-sub-2 {
  font-size: var(--ff-size-20);
}
.colab__section-ul {
  font-size: var(--ff-size-16);
  font-weight: 600;
  list-style-position: unset;
  margin-left: 2rem;
}

.about__img {
  height: 85%;
  width: 85%;
  object-fit: contain;
  margin-left: 4rem;
}

.product__section {
  min-height: 100vh;
  min-width: 320px;
  background-image: url(/assets/pages/product.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 6rem 6rem 6rem;
  overflow-x: hidden;
}
.product__section-sub {
  color: white;
  font-size: var(--ff-size-30);
  text-align: right;
  margin-right: 10rem;
  text-transform: uppercase;
}

.product__heading {
  color: white;
  font-size: var(--Af-size-130);
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.product__heading-box {
  display: inline-block;
}

._green {
  color: var(--secondary-color);
}

.slide-to-down {
  display: inline-block;
  margin-inline: 1rem;
  animation: slide-top-down ease-out 1s forwards;
}

.slide-bottom-up {
  display: inline-block;
  animation: slide-bottom-up ease-out 1s;
}

.slide-left-right {
  display: inline-block;
  animation: slide-left-right ease-out 1s;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 3rem;
  padding: 2rem;
}
.product__card {
  position: relative;
  width: 32rem;
  height: 39rem;
}
.product__image-box {
  width: 100%;
  height: 50%;
  border-radius: 2rem;
}
.product__description-box {
  width: 100%;
}
.product__title {
  font-size: var(--ff-size-18);
  color: var(--primary-color);
  letter-spacing: 2px;
  font-weight: 800;
}
.product__description {
  font-size: var(--ff-size-14);
  color: var(--primary-color);
}
.product__card-front {
  height: 100%;
  padding: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
}
.product__card-back {
  perspective: 1600rem;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transform: rotateY(180deg);
  background-color: white;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
}
.product__logo-box {
  height: 10rem;
  width: 10rem;
}
.product__description-back {
  text-align: center;
  font-size: var(--ff-size-14);
}
.product__description-button {
  height: 4rem;
  width: 10rem;
  border-radius: 20px;
  border: var(--primary-color);
  color: white;
  background-color: var(--primary-color);
}
.product__description-button:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}
.product__card:hover > .product__card-front {
  transform: rotateY(-180deg);
}
.product__card:hover > .product__card-back {
  transform: rotateY(0deg);
}

.underlined {
  border-bottom: 2px solid white !important;
}

.hr {
  display: block;
  height: 1px;
  width: 100%;
  margin-block: 0.5rem;
  background-color: gray;
}

.new-quote {
  font-size: var(--ff-size-18);
  font-weight: 100;
  color: white !important;
  text-align: center;
}

.margin-top-0 {
  margin-top: 0;
  margin-left: 5.4rem;
  font-size: var(--ff-size-14);
  text-align: initial;
}

.text-align-center {
  text-align: center;
}

.disable {
  cursor: not-allowed;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}

@keyframes pop-up {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-300px);
  }
  80% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(300px);
  }
  80% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  16.6666% {
    transform: translateX(var(--size-14));
  }
  33.3333% {
    transform: translateX(calc(var(--size-14) * 2));
  }
  50% {
    transform: translateX(calc(var(--size-14) * 3));
  }
  66.6666% {
    transform: translateX(calc(var(--size-14) * 4));
  }
  83.3333% {
    transform: translateX(calc(var(--size-14) * 5));
  }
  100% {
    transform: translateX(calc(var(--size-14) * 6));
  }
}
@keyframes slide-top-down {
  0% {
    transform: translateY(30rem);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes slide-bottom-up {
  0% {
    transform: translateY(-30rem);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes slide-left-right {
  0% {
    transform: translateX(30rem);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@media (min-height: 1223px) {
  .agriculture_section {
    min-height: auto;
  }
}
@media ((min-width: 1223px) and (min-height: 1080px)) {
  :root {
    --ff-size-130: 13vw;
    --ff-size-100: 11vw;
    --ff-size-30: 4rem;
    --ff-size-18: 3rem;
    --ff-size-40: 5rem;
    --ff-size-20: 4rem;
    --Af-size-130: 10vw;
    --ff-size-70: 7rem;
    --ff-size-14: 2.2rem;
    --ff-size-16: 2.4rem;
    --ff-size-12: 1.8rem;
  }
  .greet__welcome {
    height: 20rem;
  }
  .greet__name {
    height: auto;
  }
  .agriculture_section {
    min-height: auto;
  }
  .about__section {
    min-height: auto;
  }
  .founder__container {
    height: 60vh;
  }
  .founder__container-name {
    font-size: var(--ff-size-70);
  }
  .product__card {
    width: 50rem;
    height: 74rem;
  }
  .product__heading-box {
    height: 23rem;
  }
}
@media (max-width: 1000px) {
  .product__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .nav-bar__options {
    display: none;
  }
  .ag-container {
    flex-direction: column;
    width: 100%;
    align-items: initial;
  }
  .ag-practice,
  .ag-title {
    width: 100%;
  }
  .contact__img-box {
    padding: 10rem 2rem 2rem 2rem;
  }
  .coconut__gallery {
    align-self: center;
  }
  .hamburger__btn {
    display: initial;
  }
  .slide__navigation {
    display: flex;
  }
  .nav-bar__option {
    color: var(--primary-color);
    padding-block: 1rem;
  }
  .founder__container {
    flex-direction: column;
    gap: 0;
  }
  .founder__container-img {
    height: 70rem;
    width: 100%;
    background-position: center;
  }
  .founder__container-info {
    width: 100%;
  }
  .founder__container-info-box {
    padding: 1rem;
  }
  .goal__cards {
    flex-direction: column;
    flex-wrap: initial;
    align-items: center;
  }
  .goal__card {
    width: 100%;
  }
  .product__section {
    padding: 8rem 2rem 2rem 2rem;
    align-items: center;
  }
  .product__section-sub {
    margin-right: 0;
  }
  .product__heading {
    height: auto;
  }
}
@media (max-width: 768px) {
  :root {
    --ff-size-130: 13vw;
    --ff-size-100: 11vw;
    --ff-size-30: 1.6rem;
    --ff-size-18: 1.6rem;
    --ff-size-40: 3rem;
    --ff-size-20: 1.5rem;
    --Af-size-130: 10vw;
  }
  .greet__section {
    padding: 8rem 2rem 2rem 2rem;
  }
  .greet__welcome,
  .greet__name {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  .navbar__main {
    padding-inline: 2rem;
  }
  .logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .coconut__gallery {
    width: 100%;
    height: 40rem;
  }
  .ag-container {
    padding: 1rem;
  }
  .ag-practice,
  .ag-title {
    width: 100%;
  }
  .contact__img-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .contact__map,
  .contact__details,
  .contact__input-field {
    width: 100%;
  }
  .farm__section {
    padding: 6rem 2rem 2rem 2rem;
  }
  .farm__gallery-cards {
    height: auto;
    flex-direction: column;
    gap: 5rem;
    padding-top: 5rem;
  }
  .farm__gallery-card {
    width: 15rem;
    height: 50rem;
  }
  .farm__gallery-card:hover {
    width: 32rem;
  }
  .about__section {
    padding: 6rem 0rem 0rem 0rem;
  }
  .founder__container-img {
    height: 73vh;
  }
  .founder__container-name {
    font-size: 3.8rem;
  }
  .founder__container-info {
    padding: 2rem;
  }
  .export__section-para-box {
    width: 100%;
  }
  .colab__section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .colab__section-img {
    min-width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .colab__section-container {
    width: 100%;
  }
  .colab__section-ul {
    margin-left: 0;
  }
  .margin-top-0 {
    margin-left: 0;
  }
  .about__img {
    margin-left: 2rem;
  }
  .product__list {
    grid-template-columns: 1fr;
  }
  .product__section-sub {
    text-align: center;
  }
  .product__heading,
  .product__heading-box {
    height: 12rem;
  }
}

/*# sourceMappingURL=index.css.map */
