:root {
  --ff-size: 1.8rem;

  --primary-color: #1e4c39;
  --secondary-color: #7e8f7f;
  --territory: #008000;

  --size-14: -14.3%;
}
@font-face {
  font-family: Helvetica;
  src: url(../public/HelveticaNaue/HelveticaNeueBlack.otf);
}
