:root {
  --ff-size-130: 10vw; //13rem
  --ff-size-100: 8vw;
  --ff-size-40: 4rem;
  --ff-size-30: 3rem;
  --ff-size-18: 1.8rem;
  --ff-size-14: 1.4rem;
  --primary-color: #1e4c39;
  --secondary-color: #7e8f7f;
  --territory-color: #008000;

  --size-14: -14.3%;
}
@font-face {
  font-family: Helvetica;
  src: url(../public/HelveticaNaue/HelveticaNeueBlack.otf);
}
