@media (max-width: 1223) {
}
@media (max-width: 900px) {
  .nav-bar__options {
    display: none;
  }
  .ag-container {
    flex-direction: column;
    width: 100%;
    align-items: initial;
  }
  .contact__img-box {
    padding: 10rem 2rem 2rem 2rem;
  }
  .hamburger__btn {
    display: initial;
  }
  .slide__navigation {
    display: flex;
  }
  .nav-bar__option {
    color: var(--primary-color);
    padding-block: 1rem;
  }
}
@media (max-width: 768px) {
  :root {
    --ff-size-130: 13vw; //13rem
    --ff-size-100: 11vw;
    --ff-size-30: 1.6rem;
    --ff-size-18: 1.6rem;
    --ff-size-40: 3rem;
  }
  .greet__section {
    padding: 8rem 2rem 2rem 2rem;
  }
  .greet__welcome,
  .greet__name {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  .navbar__main {
    padding-inline: 2rem;
  }
  .logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .coconut__gallery {
    width: 100%;
    height: 30rem;
  }
  .ag-container {
    padding: 1rem;
  }
  .ag-practice,
  .ag-title {
    width: 100%;
  }
  .contact__img-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .contact__map,
  .contact__details,
  .contact__input-field {
    width: 100%;
  }
  .farm__section {
    padding: 6rem 2rem 2rem 2rem;
  }
  .farm__gallery-cards {
    height: auto;
    flex-direction: column;
    gap: 5rem;
    padding-top: 5rem;
  }
  .farm__gallery-card {
    min-width: 320px;
  }
}
@media (max-width: 320px) {
}
