.underlined {
  border-bottom: 2px solid white !important;
}
.hr {
  display: block;
  height: 1px;
  width: 100%;
  margin-block: 0.5rem;
  background-color: gray;
}
.new-quots {
  font-size: var(--ff-size-18);
  font-weight: 300;
  color: white !important;
  text-align: center;
}
