.about__section {
  background-image: url("../public/assets/pages/about.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8rem 5rem 5rem 5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.founder__container {
  display: flex;
  gap: 3rem;
  min-height: 70vh;
  position: relative;
  overflow: hidden;
  background-color: white;
  &-img {
    width: 30%;
    background-image: url("/public/assets/about/founder.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 40rem;
    opacity: 0;
  }
  &-info {
    background-color: white;
    width: 70%;
    padding: 3rem;
    margin: auto 0;
    opacity: 0;
  }
  &-info-box {
    height: 40%;
    border: 2rem solid var(--primary-color);
    padding: 3rem;
  }
  &-title {
    font-size: 2rem;
    text-align: left;
  }
  &-name {
    font-size: 4rem;
    text-align: left;
  }
  &-para {
    font-size: var(--ff-size-14);
    font-weight: 600;
    margin-top: 3rem;
    text-align: justify;
  }
}

.founder__loaded .founder__container-img,
.founder__loaded .founder__container-info {
  animation: block-reveal-text 0s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}

.overlay {
  display: block;
  position: absolute;
  background-image: linear-gradient(
    100deg,
    var(--primary-color) 0%,
    var(--primary-color) 60%,
    orange 20%,
    orange 100%
  );
  width: 250%;
  height: 100%;
  transform: translateX(calc(100% + 1px));
  z-index: 99;
}
.founder__loaded .overlay {
  animation: slider-left-to-right 1.6s;
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.goal__section {
  padding: 3rem;
  background-color: white;
}
.goal__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 3rem;
}
.goal__card {
  padding: 2rem;
  width: 40%;
  background-color: var(--primary-color);
  border-radius: 4px;
  &-title {
    font-size: 3rem;
    color: white;
  }
  &-description {
    font-size: var(--ff-size-14);
    color: white;
    font-weight: 200;
  }
}
.export__section {
  width: 100%;
  background-image: url(/public/assets/about/export.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin-block: 2rem;
  background-color: white;
  &-title-box {
    height: 7rem;
    border-left: 2px solid white;
    padding: 0.4rem 0.4rem 0.4rem 3rem;
  }
  &-title {
    font-size: 4rem;
    font-weight: 200;
    color: white;
  }
  &-para-box {
    width: 60%;
    margin-top: 6rem;
  }
  &-para {
    font-size: var(--ff-size-16);
    color: white;
    font-weight: 200;
    text-align: justify;
  }
}
.colab__section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 2rem;
  &-container {
    width: 100%;
  }
  &-container-1:not(:last-child) {
    margin-bottom: 2rem;
  }
  &-title-box {
    padding: 1rem;
    padding-right: 4rem;
    background-color: orange;
  }
  &-title {
    color: var(--primary-color);
    font-size: var(--ff-size-20);
    border-left: 1px solid white;
    padding-left: 2rem;
  }
  &-img {
    width: 60%;
  }
  &-para {
    margin-top: 2rem;
    font-size: var(--ff-size-14);
    text-align: justify;
  }
  &-sub-2 {
    font-size: var(--ff-size-20);
  }
  &-ul {
    font-size: var(--ff-size-16);
    font-weight: 600;
    list-style-position: unset;
    margin-left: 2rem;
  }
}
.about__img {
  height: 85%;
  width: 85%;
  object-fit: contain;
  margin-left: 4rem;
}
