.contact__img-box {
  background-image: url("../public/assets/pages/contact-2.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 4rem 4rem 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.183);
    backdrop-filter: blur(1px);
    z-index: 1;
  }
}
.contact__title {
  z-index: 10;
  font-size: 2rem;
  position: relative;
  animation: slide-right 1s;
}
.contact-h1 {
  font-size: var(--ff-size-130);
  color: white;
}
.location {
  &-box {
    position: relative;
    width: 30rem;
    padding: 2rem;
    color: white;
    background-color: rgba(209, 209, 209, 0.3);
    z-index: 10;
    border-radius: 3px;
  }
  &-place {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &-name {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
  &-info {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  &-link {
    text-decoration: none;
    position: relative;
    z-index: 10;
    transition: transform 0.3s;
    animation: slide-left 1s;
    &:hover {
      transform: translateY(-1rem);
    }
  }
}
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  &__details {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 320px;
    padding: 2rem;
  }
  &__mail {
    width: 100%;
    &-us {
      color: var(--primary-color);
      font-size: 3rem;
      font-weight: 700;
    }
  }
  &__input-info {
    font-size: 1.2rem;
    color: var(--primary-color);
    &::after {
      content: " *";
      color: red;
    }
  }
  &__first-name {
    margin-block: 1rem;
  }
  &__input-field {
    width: 80%;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 0 1rem;
  }
  &__address-box {
    width: 100%;
  }
  &__map {
    width: 50%;
    border-radius: 4px;
    min-width: 320px;
    min-height: 320px;
    border: none;
    &-img {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 3px;
    }
  }
  &__mail-btn {
    width: 8rem;
    height: 3rem;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    &:hover {
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
      background-color: white;
    }
  }
  &__get-in {
    color: var(--primary-color);
    font-size: 3rem;
  }
  &__quotes {
    font-size: 1.4rem;
    font-weight: 800;
    color: var(--primary-color);
    position: relative;
    z-index: 2;
  }
  &__address {
    font-size: 1.6rem;
    margin-block: 1rem;
    color: var(--primary-color);
  }
  &__mail-box {
    padding: 0 3rem;
  }
}

.description-custom {
  resize: none;
  min-height: 8rem;
  max-height: 8rem;
  padding-block: 1rem;
}
