@keyframes pop-up {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-300px);
  }
  80% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(300px);
  }
  80% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  16.6666% {
    transform: translateX(var(--size-14));
  }
  33.3333% {
    transform: translateX(calc(var(--size-14) * 2));
  }
  50% {
    transform: translateX(calc(var(--size-14) * 3));
  }
  66.6666% {
    transform: translateX(calc(var(--size-14) * 4));
  }
  83.3333% {
    transform: translateX(calc(var(--size-14) * 5));
  }
  100% {
    transform: translateX(calc(var(--size-14) * 6));
  }
}
@keyframes slide-top-down {
  0% {
    transform: translateY(30rem);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes slide-bottom-up {
  0% {
    transform: translateY(-30rem);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes slide-left-right {
  0% {
    transform: translateX(30rem);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes block-reveal-text {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes slider-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(100% + 1px));
  }
}
