.underlined {
  border-bottom: 2px solid white !important;
}
.hr {
  display: block;
  height: 1px;
  width: 100%;
  margin-block: 0.5rem;
  background-color: gray;
}
.new-quote {
  font-size: var(--ff-size-18);
  font-weight: 100;
  color: white !important;
  text-align: center;
}
.margin-top-0 {
  margin-top: 0;
  margin-left: 5.4rem;
  font-size: var(--ff-size-14);
  text-align: initial;
}
.text-align-center {
  text-align: center;
}
.disable {
  cursor: not-allowed;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
}
