.home__main {
  min-height: 100vh;
  overflow-y: hidden;
  min-width: 320px;
}

.contact__main {
  min-height: 100vh;
  overflow-y: hidden;
  min-width: 320px;
}

.farm__main {
  min-height: 100vh;
  overflow-y: hidden;
  min-width: 320px;
}
